<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.thequietcroc.legendary">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Legendary">
        <activity
                android:name=".activities.filters.FilterGameSetActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterHenchmenActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterHeroActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterMastermindActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterSchemeActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterVillainsActivity"
                android:parentActivityName=".activities.filters.FilterSelectMenuActivity" />
        <activity
                android:name=".activities.filters.FilterSelectMenuActivity"
                android:parentActivityName=".activities.MainActivity" />
        <activity
                android:name=".activities.info.GameSetInfoActivity"
                android:parentActivityName=".activities.filters.FilterGameSetActivity" />
        <activity
                android:name=".activities.info.HenchmenInfoActivity"
                android:parentActivityName=".activities.filters.FilterHenchmenActivity" />
        <activity
                android:name=".activities.info.HeroInfoActivity"
                android:parentActivityName=".activities.filters.FilterHeroActivity" />
        <activity
                android:name=".activities.info.MastermindInfoActivity"
                android:parentActivityName=".activities.filters.FilterMastermindActivity" />
        <activity
                android:name=".activities.info.SchemeInfoActivity"
                android:parentActivityName=".activities.filters.FilterSchemeActivity" />
        <activity
                android:name=".activities.info.VillainsInfoActivity"
                android:parentActivityName=".activities.filters.FilterVillainsActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>